node_modules
coverage
services/*/dist
**/.DS_STORE
**/.env
services/workspaces/heapdumps
data/
**/**/dist/
services/*/docker-compose-dev.yml
docker-compose-dev.yml
**/**/local.env
services/console/.next
test.js
