#__next {
    height: 100%;
    display: flex;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ace_gutter-cell.ace_endpoint:before {
    font-family: primeicons;
    position: absolute;
    left: 4px;
    top: 2px;
    content: '';
}

.prisme-events-viewer__event.p-accordion
.p-accordion-header
.p-accordion-header-link {
    justify-content: space-between;
    font-weight: inherit;
    color: inherit;
}

.prisme-events-viewer__event.p-accordion
.p-accordion-header
.p-accordion-header-text {
    color: inherit;
}

.prisme-events-viewer__event.p-accordion .p-accordion-content {
    padding: 0;
}

.prisme-events-viewer__event .p-accordion-toggle-icon {
    order: 1;
}

.p-float-label .ace_focus ~ label,
.p-float-label .filled ~ label {
    top: -0.75rem;
    font-size: 12px;
}
